// reset overflow 

 /*h3, h4, h5, h6 {
    font-family: $quicksand;
    font-weight: normal;
 }
*/

.wrapper {
    background-color: $bg_primary_col !important;
}

.content-wrapper {
    overflow-y: visible !important;
    background-color: $bg_primary_col;
    padding: 10px;
}


.tab-content {

    .title h2 {
        border-bottom: 1px solid rgba(0, 0, 0,  0.12); // line below title
        padding-bottom: 16px;
    }
}

// instruction card

#shiny-tab-instructions .card-box {
    
    position: relative;
    top: 5px;
    height: 70vh;
    width: 100%;
    @include flex-content($dir:column);
    @include layout-content;

    .intro-card {
        position: relative;
        perspective: 1000px;
        width: 100%;
        height: 100%;
        margin: 10px;
        
        span {
            width: 20%;
            font-size: 25px;
            padding: 10px;
            margin: 5px;
            overflow: auto;
        }

        p { 
            font-size: 16px;
            padding: 10px;
            margin: 5px;
            overflow: auto;
        }

        .card-face {
            position: absolute;
            width: 100%;
            height: 100%;
            @include flex-content($dir:row);
            @include layout-content($h:left);
            vertical-align: middle;
            backface-visibility: hidden;
            transition: all 1s ease-in-out;
            border-radius: 8px;
            text-align: center; 
            box-shadow: 0px 0.0625em 0.0625em rgba(0, 0, 0, 0.25),
                        0px 0.125em 0.5em rgba(0, 0, 0, 0.25),
                        0px 0px 0px 1px inset rgba(255, 255, 255, 0.1);
        }
        
        .front {
            transform: rotateX(0deg);
        }

        .back {
            transform: rotateX(-180deg);

            .btn {
                margin-left: 20px;
                margin-right: 10px;
            }

            p { 
                font-size: 20px;
                text-align: left;
                margin-left: 20px;
                margin-right: 10px;
                
                &:before, &:after { // add a line
                    content: '';
                    height: 80%;
                    border-left: 1px solid rgba(0, 0, 0, 0.12);
                    position: absolute;
                    bottom: 9px;
                    left: 85px;
                }
            }
        }

        &:hover {
            .front {
                transform: rotateX(180deg);
            }

            .back {
                transform: rotateX(0deg);
            }
        }
    }
}

// box
.box-solid.box-primary {
    border-radius: 10px !important;
    background-color: $bg_primary_col ; 
    border: 0px !important; 
    top: 15px; // move down to lower than header
    box-shadow: 0px 0.0625em 0.0625em rgba(0, 0, 0, 0.25),
                0px 0.125em 0.5em rgba(0, 0, 0, 0.25),
                0px 0px 0px 1px inset rgba(255, 255, 255, 0.1);
    transition: $trans_time;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

    &:hover {
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    /*#show_template_box {
        background-color: $dark;
        margin: 50px 0px 5px;
    } 
    */
    .box-header {
        border-radius: 10px;
        background: $grad_primary_col !important;
        box-shadow: 0px 0.0625em 0.0625em rgba(0, 0, 0, 0.25),
                    0px 0.125em 0.5em rgba(0, 0, 0, 0.25),
                    0px 0px 0px 1px inset rgba(255, 255, 255, 0.1);
        margin: 0 5px 5px 5px;
        top: -7px;
    }

    // help msg
    .help-block {
        margin: 8px 5px 2.5px 5px ;
    }

}

// specify div
#text_div, #text_div2, #gsheet_div {
    font-size: 18px; 
    margin: 10px 0; 
    padding: 10px 0;
}

