// reset overflow 

 /*h3, h4, h5, h6 {
    font-family: $quicksand;
    font-weight: normal;
 }
*/
.content-wrapper {
    overflow-y: visible !important;
    background-color: $bg_primary_col;
    padding: 10px;
}


.tab-content {

    h2 {
        font-family: $quicksand;
        font-weight: 550;
        border-bottom: 1px solid rgba(0, 0, 0,  0.12); // line below title
        padding-bottom: 16px;
    }
}

.box-solid.box-primary {
    border-radius: 10px !important;
    background-color: $bg_primary_col ; 
    border: 0px !important; 
    top: 15px; // move down to lower than header
    box-shadow: 0px 0.0625em 0.0625em rgba(0, 0, 0, 0.25),
                0px 0.125em 0.5em rgba(0, 0, 0, 0.25),
                0px 0px 0px 1px inset rgba(255, 255, 255, 0.1);
    transition: $trans_time;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

    &:hover {
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    /*#show_template_box {
        background-color: $dark;
        margin: 50px 0px 5px;
    } 
    */
    .box-header {
        border-radius: 10px;
        background: $grad_primary_col !important;
        box-shadow: 0px 0.0625em 0.0625em rgba(0, 0, 0, 0.25),
                    0px 0.125em 0.5em rgba(0, 0, 0, 0.25),
                    0px 0px 0px 1px inset rgba(255, 255, 255, 0.1);
        margin: 0 5px 5px 5px;
        top: -7px;
    }

    // help msg
    .help-block {
        margin: 8px 5px 2.5px 5px ;
    }

}

// specify div
#text_div, #text_div2, #gsheet_div {
    font-size: 18px; 
    margin: 10px 0; 
    padding: 10px 0;
}

