// global variables are collected here
@import url(https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,500);
//font
//$title_font: 'Oswald', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// colors
$primary_col: #605ca8;
$seconday_col: #7590d6;
$third_col: rgba(224, 94, 137, 0.4);
$bg_primary_col: #FFF;
$light: #f8f9fa;
$dark: #343a40;
$error_col: #E53935;
$success_col: #28a745;
$sidebar_col: #191919;
$sidebar_text_col: #FFF;
$notif_process_col: #F7DC6F; 
$notif_success_col: #82E0AA;
$grad_primary_col: linear-gradient(45deg, purple, #7590d6);
$grad_secondary_col: linear-gradient(45deg, #7590d6, purple);

$trans_time: 200ms;

@mixin layout-content($h:center, $v:center) {
    justify-content: $h;
    align-items: $v;
}

@mixin flex-content ($dir:row) {
    display: flex;
    flex-direction: $dir;
}